{% extends "base_other.html" %}
{% block title %}{{ article.title }} - {{ article.author.name }}{% endblock %}


{% block center_right %}
<div class="article-content">
    <h4>
        {{ article.title }}
        &emsp;
        {% if article.author.id == user.id %}
        <small><a href="/article/write?id={{ article.id }}">编辑</a></small>
        &ensp;
        <small><a href="#" onclick="delete_atc()">删除</a></small>
        {% else %}
        <small>
            <a href="#" title="评论区吵架也可以点我" onclick="report()">
                举报
            </a>
        </small>
        {% endif %}
    </h4>
    <h6 style="font-size: small;">
        {{ article.author.name }}
        &emsp;
        {% if article.create_time == article.update_time %}
        <span>创建于{{ format_time(article.create_time) }}</span>
        {% else %}
        <span title="创建于{{ format_time(article.create_time) }}">更新于{{ format_time(article.update_time) }}</span>
        {% endif %}
        &emsp;
        ID: {{ article.id }}
        &emsp;
        <span id="read-count">{{ article.read_count }}</span>阅读
    </h6>
    <hr />
    <div id="article-body" class="article-body break-word">
        {{ article.content }}
    </div>
</div>
<div style="height: 15px;"></div>
</div>
{% endblock %}

{% block margins %}
<div class="margins">
    <div style="height: 15px;"></div>
    <div class="article-content">
        <div>
            <button class="btn btn-primary" onclick="like()">
                点赞
            </button>
            {% for i in likes %}{{ i.user.name }}, {% endfor %}
        </div>
        <br />
        <form style="display: inline;" target="_top">
            <textarea class="form-control" rows="3" id="comment-content" maxlength="200"
                placeholder="对贴子说点什么吧...(Enter换行，Ctrl+Enter发送)" style="display: inline; width: 90%;"
                required></textarea>
            <button class="btn btn-primary" type="button" style="width: 10%; float: right; height: 84px; padding: 0;"
                onclick="comment()" id="comment-submit">
                评论
            </button>
        </form>
        <table class="table table-hover">
            {% for i in top %}
            <tr title="发表于{{ format_time(i.time) }}" class="comments-content" data-uid="{{ i.author.id }}"
                data-cid="{{ i.id }}">
                <td>
                    置顶
                </td>
                <td>
                    <a href="/user/{{ i.author.id }}" style="text-decoration: none;">
                        {{ i.author.name }}
                    </a>
                </td>
                <td class="comment-content">
                    {{ i.content }}
                </td>
            </tr>
            {% endfor %}
            {% for i in range(comment|length) %}
            <tr title="发表于{{ format_time(comment[i].time) }}" class="comments-content"
                data-uid="{{ comment[i].author.id }}" data-cid="{{ comment[i].id }}">
                <td>
                    {{ i + 1 }}楼
                </td>
                <td>
                    <a href="/user/{{ comment[i].author.id }}" style="text-decoration: none;">
                        {{ comment[i].author.name }}
                    </a>
                </td>
                <td class="break-word comment-content-td">
                    {{ comment[i].content }}
                </td>
            </tr>
            {% endfor %}
        </table>
        <hr style="margin-top: -16px;" />
    </div>
    <div style="height: 15px;"></div>
</div>
{% endblock %}

{% block js %}
<script>
    const atc_id = "{{ article.id }}", uid = "{{ user.id if logined else 0 }}";

    // 文章阅读量统计相关
    // 获取缓存数据并解析
    let readed = localStorage.getItem("readed_atc");
    readed = readed && JSON.parse(readed) || {};
    if (readed[atc_id] && (readed[atc_id]["time"] === undefined || readed[atc_id]["count"] === undefined)) {
        // 当前文章数据存在错误
        readed[atc_id] = undefined;
    }
    if (readed[atc_id] === undefined || parseInt(new Date().getTime() / 1000) - readed[atc_id]["time"] > 86400 || readed[atc_id]["count"] > 20) {
        // 记次成功，设置缓存
        $.post("./read", {
            id: atc_id,
            scene: "read_count",
            sign: Sign([atc_id, $.cookie("key")], "read_count", false)
        }, function (res) {
            readed[atc_id] = {
                "time": parseInt(new Date().getTime() / 1000),
                "count": 1,
            };
            localStorage.setItem("readed_atc", JSON.stringify(readed));
            // 更新页面数据
            $("#read-count").text(parseInt($("#read-count").text()) + 1);
        });
    } else {
        // 不满足记次条件，更新缓存
        readed[atc_id]["count"]++;
        localStorage.setItem("readed_atc", JSON.stringify(readed));
    }
</script>
<script>
    const emojis = ['666', 'emm', 'NO', 'OK', '乒乓', '亲亲', '便便', '偷笑', '傲慢', '再见', '冷汗', '凋谢', '刀', '加油', '加油加油', '勾引', '发', '发呆', '发怒', '发抖', '可怜', '可爱', '右哼哼', '右太极', '叹气', '吃瓜', '合十', '吐', '吐舌', '吓', '呲牙', '咒骂', '咖啡', '哇', '哈欠', '啤酒', '嘘', '嘿哈', '回头', '困', '坏笑', '大哭', '天啊', '太阳', '失望', '奋斗', '奸笑', '好的', '委屈', '害羞', '尴尬', '左哼哼', '左太极', '差劲', '庆祝', '强壮', '得意', '微笑', '心碎', '快哭了', '怄火', '恐惧', '悠闲', '惊恐', '惊讶', '感冒', '憨笑', '打脸', '抓狂', '折磨', '抠鼻', '抱拳', '拥抱', '拳头', '挥手', '捂脸', '握手', '撇嘴', '擦汗', '敲打', '无语', '旺柴', '晕', '月亮', '机智', '汗', '流汗', '流泪', '激动', '炸弹', '爱你', '爱心', '爱情', '猪头', '献吻', '玫瑰', '瓢虫', '疑问', '白眼', '皱眉', '睡', '破涕为笑', '磕头', '示爱', '礼物', '社会社会', '福', '笑脸', '篮球', '糗大了', '红包', '翻白眼', '耶', '胜利', '脸红', '色', '苦涩', '菜刀', '街舞', '衰', '裂开', '西瓜', '让我看看', '调皮', '赞', '足球', '跳跳', '踩', '转圈', '鄙视', '酷', '闪电', '闭嘴', '阴险', '难过', '飞吻', '饥饿', '饭', '骷髅', '鬼魂', '鼓掌'];

    String.prototype.add_link = function () {
        var reg = /(http:\/\/|https:\/\/)((\w|=|\?|\.|\/|&|-|%|#)+)/g;
        return this.replace(reg, '<a href="$1$2" target="_blank">$1$2</a>');
    };

    function format(ele) {
        let html = ele.html();

        // 去除前后空白
        while (html[0] === "\n" || html[0] === " ") html = html.substr(1);
        while (html[html.length - 1] === "\n" || html[html.length - 1] === " ") html = html.substr(0, html.length - 1);

        // 优化空格
        html = html.replaceAll(" ", "&nbsp;");

        // 添加换行
        html = html.replaceAll("\n\n", "<p></p>").replaceAll("\n", "<br />");

        // 识别超链接
        html = html.add_link();

        // 识别表情
        for (let i = 0; i < emojis.length; i++) {
            let emoji = emojis[i];
            let reg = new RegExp(`\\[${emoji}\\]`, "g");
            html = html.replaceAll(reg, `<img class="emoji" src="/static/image/emojis/${emoji}.png" alt="${emoji}" />`);
        }


        // 识别图片
        html = html.replaceAll(/!!!IMAGE:(.*?)!!!/g, function (match, p1) {
            p1 = p1.replaceAll(/<a href="(.*?)" target="_blank">.*?<\/a>/g, "$1");
            if (p1.substr(0, 4) !== "http")
                p1 = `${location.protocol}//${location.host}/static/article_images/${p1}`;
            return `<img src="${p1}" />`;
        });

        // 添加Bilibili视频
        html = html.replaceAll(/!!!BILIVIDEO:(.*?)!!!/g, function (match, p1) {
            if (p1.split("-") === 1) {
                p1 = `${p1}-1`;
            }
            p1 = p1.split("-");
            return `<iframe src="//player.bilibili.com/player.html?bvid=${p1[0]}&page=${p1[1]}&high_quality=1" allowfullscreen="allowfullscreen" width="100%" height="500" scrolling="no" frameborder="0" sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts"></iframe>`;
        });

        ele.html(html);
    }

    format($("#article-body"));
    $(".comment-content-td").each(function () {
        format($(this));
    });

    $(".comments-content").each(function () {
        $(this).dblclick(function () {
            if ($(this).data("uid") === Number(uid)) {
                if (!confirm("确定要删除这条评论吗？")) { return; }
                $.post("/article/comment/delete", {
                    cid: $(this).data("cid")
                }, function (data) {
                    if (data === "Success") {
                        alert("删除成功！");
                        window.location.reload();
                    } else {
                        alert("删除失败: " + data);
                    }
                });
            } else {
                $.get(`/notice?at=article&to=${$(this).data("uid")}&atc=${atc_id}`, function (data) {
                    if (data === "Success") {
                        alert("@用户成功");
                    } else {
                        alert("失败");
                    }
                });
            }
        });
    });
</script>
<script>
    function delete_atc() {
        if (confirm("确定删除该贴吗？")) {
            window.open("/article/delete/{{ article['id'] }}", "_self");
        }
    }

    $(window).keydown(function (event) {
        if (event.ctrlKey && event.keyCode == 13) {
            if (document.getElementById("comment-content") === document.activeElement) {
                $("#comment-submit").click();
            }
        }
    });

    function comment() {
        let content = $("#comment-content").val();
        $(this).attr("disabled", true);
        if (content === "") {
            alert("评论不能为空");
            return;
        }
        let sign = Sign([USERNAME, atc_id, content], "comment");
        if (!sign) return;
        $.post("", {
            "comment": content,
            "sign": sign
        }, function (data) {
            if (data === "Success") {
                alert("评论成功");
                window.location.reload();
            } else {
                alert("评论失败");
                $(this).attr("disabled", false);
            }
        });
    }

    function report() {
        $.post(`/report/article/${atc_id}`, function (data) {
            if (data === "Success") {
                alert("举报成功");
            } else {
                alert("举报失败: " + data);
            }
        });
    }

    function like() {
        $.post(`/article/like`, { id: atc_id }, function (data) {
            if (data === "Success") {
                alert("点赞成功");
                window.location.reload();
            } else {
                alert("点赞失败: " + data);
            }
        });
    }
</script>
{% endblock %}