{% extends "base_user.html" %}
{% block title %}管理员界面{% endblock %}
{% block center_right %}
<h2>管理员界面</h2>
<hr />
<h5>
    <a href="/report/list" target="_blank">未受理的举报</a>
</h5>
<br />
<br />
<h4>处理文章</h4>
<pre>
    (3, "全站置顶"),
    (2, "话题页置顶"),
    (1, "个人页置顶"),
    (0, "正常"),
    (-1, "禁止首页列出"),
    (-2, "禁止首页和话题列出"),
    (-3, "禁止首页、话题和个人页列出"),
    (-4, "禁止查看"),
</pre>
<form action="?operation=article-state" method="post">
    <input type="number" name="atc_id" placeholder="文章ID" class="form-control" />
    <input type="number" name="state" placeholder="新状态" class="form-control" />
    <button class="btn btn-danger" style="margin-top: 10px; width: 100%;">确认处理</button>
</form>
<br />
<br />
<h4>处理评论</h4>
<pre>
    (1, "置顶"),
    (0, "正常"),
    (-1, "隐藏"),
    关于楼层：置顶评论请填写在底下的真实楼层
</pre>
<form action="?operation=comment-state" method="post">
    <input type="number" name="atc_id" placeholder="文章ID" class="form-control" />
    <input type="number" name="floor" placeholder="楼层" class="form-control" />
    <input type="number" name="state" placeholder="新状态" class="form-control" />
    <button class="btn btn-danger" style="margin-top: 10px; width: 100%;">确认处理</button>
</form>
{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}